<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head(~{::title},~{},~{})">
    <title>User page</title>
</head>
<body>
<div th:replace="layout::navbar('user')"></div>
<div class="row container-fluid">
    <div th:replace="layout::menu('user')"></div>
    <main class="col">
        <div th:replace="layout::alerts"></div>
        <h3 class="text-center"
            th:text="${user.id != null ? 'Edit user ' + #strings.capitalize(user.username) : 'User register'}">User</h3>
        <div class="row justify-content-center" th:fragment="user-form-full">
            <div class="col-12 col-sm-10 col-md-9 col-lg-8 col-xl-6">
                <th:block th:fragment="user-form"
                          th:with="is_admin=${session.current_user != null && session.current_user.isAdmin()}">
                    <th:block th:with="url=${is_admin} ? '/admin' : '/user'">
                        <form action="#" th:action="@{${url+'/#'}}" th:method="post" th:object="${user}">
                            <div class="form-group user-form-group form-row" th:if="*{id}">
                                <label class="col-5 col-form-label" th:for="id"
                                       th:text="${#strings.capitalize('__#{user.id}__')}">#</label>
                                <div class="col">
                                    <input class="form-control" th:field="*{id}" th:readonly="*{id != null}"/>
                                </div>
                            </div>
                            <div class="form-group user-form-group form-row">
                                <label class="col-5 col-form-label" th:for="username"
                                       th:text="${#strings.capitalize('__#{user.username}__')}">Username</label>
                                <div class="col">
                                    <input class="form-control" th:field="*{username}"
                                           th:readonly="*{id != null}"/>
                                </div>
                            </div>
                            <div class="form-group user-form-group form-row">
                                <label class="col-5 col-form-label" th:for="password"
                                       th:text="${#strings.capitalize('__#{user.password}__')}">Password</label>
                                <div class="col">
                                    <input class="form-control" th:field="*{password}"/>
                                </div>
                            </div>
                            <th:block th:if="${is_admin}">
                                <div class="form-group user-form-group form-row">
                                    <label class="col-5 col-form-label" th:for="enabled"
                                           th:text="${#strings.capitalize('__#{user.enabled}__')}">Enabled</label>
                                    <div class="col form-check form-check-inline">
                                        <input class="form-check-input" th:field="*{enabled}" type="checkbox"/>
                                    </div>
                                </div>
                                <div class="form-group user-form-group form-row">
                                    <label class="col-5 col-form-label" th:for="accountNonExpired"
                                           th:text="${#strings.capitalize('__#{user.account_non_expired}__')}">Account
                                        non
                                        expired</label>
                                    <div class="col form-check form-check-inline">
                                        <input class="form-check-input" th:field="*{accountNonExpired}"
                                               type="checkbox"/>
                                    </div>
                                </div>
                                <div class="form-group user-form-group form-row">
                                    <label class="col-5 col-form-label" th:for="credentialsNonExpired"
                                           th:text="${#strings.capitalize('__#{user.credential_non_expired}__')}">Credential
                                        non
                                        expired</label>
                                    <div class="col form-check form-check-inline">
                                        <input class="form-check-input" th:field="*{credentialsNonExpired}"
                                               type="checkbox"/>
                                    </div>
                                </div>
                                <div class="form-group user-form-group form-row">
                                    <label class="col-5 col-form-label" th:for="accountNonLocked"
                                           th:text="${#strings.capitalize('__#{user.account_non_locked}__')}">Account
                                        non
                                        locked</label>
                                    <div class="col form-check form-check-inline">
                                        <input class="form-check-input" th:field="*{accountNonLocked}" type="checkbox"/>
                                    </div>
                                </div>
                                <div class="form-group user-form-group form-row">
                                    <label class="col-5 col-form-label" th:for="roles"
                                           th:text="${#strings.capitalize('__#{user.roles}__')}">Roles</label>
                                    <div class="col form-check-inline">
                                        <div class="form-check form-check-inline" th:each="role,status : ${roleList}">
                                            <label class="form-check-label">
                                                <input class="form-check-input" th:field="*{roles}"
                                                       th:value="${role.name}"
                                                       type="checkbox"/>
                                                [[${role.name}]]
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                            <div class="form-group user-form-group form-row">
                                <label class="col-5 col-form-label" th:for="firstName"
                                       th:text="${#strings.capitalize('__#{user.first_name}__')}">First name</label>
                                <div class="col">
                                    <input class="form-control" th:field="*{firstName}"/>
                                </div>
                            </div>
                            <div class="form-group user-form-group form-row">
                                <label class="col-5 col-form-label" th:for="lastName"
                                       th:text="${#strings.capitalize('__#{user.last_name}__')}">Last name</label>
                                <div class="col">
                                    <input class="form-control" th:field="*{lastName}"/>
                                </div>
                            </div>
                            <div class="form-group user-form-group form-row">
                                <label class="col-5 col-form-label" th:for="email"
                                       th:text="${#strings.capitalize('__#{user.email}__')}">Email</label>
                                <div class="col">
                                    <input class="form-control" th:field="*{email}"/>
                                </div>
                            </div>
                            <!--/* buttons */-->
                            <div class="row buttons justify-content-center">
                                <button class="btn btn-md btn-outline-primary"
                                        th:formaction="@{${is_admin} ? '/admin/create' : '/auth/sign-up'}"
                                        th:text="${is_admin} ? 'create' : 'register'"
                                        th:type="submit" th:unless="*{id}">register
                                </button>
                                <button class="btn btn-md btn-outline-primary" th:formaction="@{${url+'/update'}}"
                                        th:if="*{id}"
                                        th:type="submit">update
                                </button>
                                <button class="btn btn-md btn-outline-danger" th:formaction="@{${url+'/delete'}}"
                                        th:if="*{id}"
                                        th:type="submit">delete
                                </button>
                                <button class="btn btn-md btn-outline-secondary" th:type="reset">reset</button>
                            </div>
                        </form>
                    </th:block>
                </th:block>
            </div>
        </div>
    </main>
</div>
</body>
</html>
